*{
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    width: 100%;
    color: #555454;
}

body{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0%;
    background: linear-gradient(#8da3d3, #dfe9fd);
}

.container{
    background-color: white;
    flex-direction: row;
    display: flex;
    width: 1200px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.leftbar{
    flex-direction: column;
    background-color:white;
    display: block;
    width: 0%;
}

.orders{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color:white;
}

.order{
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-flow: row;
    align-content: flex-end;
    padding: 3%;
    
}
.order p{
    margin: 7% 0%;
    
}
.order .left{
    margin-right: 10%;
}

.order .right{
    text-align: right;
    width: auto;
}
.order .order-id{
    font-size: 14pt;
}

.order .date{
    font-size: 16pt;
}
.order .status{
    color: green;
}


.order:hover{
    border-bottom: 1px solid lightgray;
    background-color: #ecf2f5;
}

.search{
    padding: 0% 0%;
}

.search form input{
    justify-self: auto;
    width: 100%;
    padding: 3px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100vh;
    
}

.content{
    height: 100%;
}

header{
    text-align: center;
    height: auto;
    font-size: 12pt;
}

.info header{
    height: 3em;
    border-bottom: solid 1px lightgray;
    background-color: #ecf2f5;
}

footer{
    background-color: #323b53;
    min-height: 3em;
}

.container{ 
    display: flex;
    flex-direction: block;
    width: 100%;
}

.order-info{
    display: flex;
    flex-direction: row;
    background-color: #ecf2f5;
    min-height: 35%;
    border-bottom: 2px solid lightgray;
    justify-content: space-between;
}

.shipping-info{
    height: 30%;
    border-bottom: 2px solid lightgray;
}

.content p{
    padding: 5px 25px;
    margin: 0%;
}

.content .order-id{
    font-size: 16pt;
    padding: 15px 25px;
}

.order-info .price{
    text-align: right;
    font-size: 16pt;
    padding: 20px 25px;
}

.shipping-info .order-id{
    font-size: 14pt;
    
}

.shipping-info .border{
    margin: 0% 2%; 
    border-bottom: 1px solid lightgray;
    padding: 0%;
}
@media screen and (min-width: 600px) {
    
     .container{ 
        display: flex;
        flex-direction: row;
        width: 1200px;
     }
     .container .leftbar{
         min-width: 300px;
         display: flex;
         flex-direction: column;
         background-color:white;
         height: 100vh;
     }
 }