
html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    width: 100%;
    color: #474853;
}

body{
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0%;
    background: linear-gradient(#8da3d3, #dfe9fd);
}

.hidden{
    display: none !important;
}

.container{
    background-color: white;
    flex-direction: row;
    display: flex;
    max-width: 1200px;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
aside{
    display: none;
}

aside header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

aside .arrow{
    padding-left: 15px;
}

aside .head{
    margin-left: 30%;
}
.shipping-info{
    display: none;
}

.orders{
    overflow-y: auto;
    background-color:white;
    height: 100vh;
}

.order{
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-flow: row;
    align-content: flex-end;
    padding: 5px 10px 5px 10px;
    
}
.order p{
    margin: 8% 0%;
    
}
.order .left{
    margin-right: 15px;
    width: 55%;
}

.order .right{
    text-align: right;
    width: auto;
}
.order .order-id{
    font-size: 14pt;
    
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 

}

.order .date{
    font-size: 16pt;
}
.order .status{
    color: green;
}


.order:hover{
    border-bottom: 1px solid lightgray;
    background-color: #ecf2f5;
}

.search{
    width: 300px;
}
.search form{
    display: inline-block;
    position:relative;
    width: 100%;
    padding: 3px;
    
}
.search form input{
    width: 245px;
    padding: 3px 44px 3px 3px; 
    border: 1px solid lightgrey;
    font-size: 12pt;

}

.search button{
    background: transparent;
    border: 0;
    position: absolute;
    top: 0%;
    right: 0%;
    color: #8f9499;
    padding-top: 7px;
    padding-right: 15px;
}

.search button:last-child{
    padding-right: 35px;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.info header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info .bars{
    font-size: 14pt;
    padding-left: 25px;
}

.info .head{
    margin-left: 40%;
}

.info .icons{
    display: flex;
    flex-direction: row;
}
.info .icon-container{
    margin-left: 25px;
    padding-top: 25px;
    padding-bottom: 10px;
    margin-bottom: -2px;
    cursor: pointer;
}


.info .order-info div i{
    border: 1px #6186b1 solid;
    border-radius: 150px;
    padding: 10px;
    font-size: 18px;
    
}

.chosen-icon{
    color: white;
    background-color: #6186b1 ;
}

.unchosen-icon{
    color: #6186b1;
    background-color: transparent;
}

.chosen-container{
    border-bottom: 2px  #6186b1 solid;
}

.unchosen .container{
    border-bottom: 0;
}
.info header p{
    padding: 15px;
    margin: 0%;
}

.content{
    display: flex;
    flex-direction: column;
    height: 100%;  
    overflow: auto;
    overflow-x: hidden;
}

header{
    text-align: center;
    height: auto;
    font-size: 12pt;
}

.info header{
    height: 3em;
    border-bottom: solid 1px lightgray;
    background-color: #ecf2f5;
}

footer{
    background-color: #323b53;
    min-height: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer i{
    color: white;
    padding-right: 10px;
    font-size: 120px;
}

aside footer{
    border-right: 1px solid white;
}
.container{ 
    display: flex;
    flex-direction: block;
    width: 100%;
    height: 100%;
}

.order-info{
    display: flex;
    flex-direction: row;
    background-color: #ecf2f5;
    border-bottom: 2px solid #d7e1ff;
    justify-content: space-between;
}



.content p{
    padding: 3px 25px;
    margin: 0%;
}

.content .order-id{
    font-size: 16pt;
    padding: 15px 25px 15px 25px;
}


.order-info .price{
    text-align: right;
    font-size: 16pt;
    padding: 15px 25px 0px 25px;
}

.order-info i{
    padding: 20px 25px 10px 10px;
    margin: 0%;
}

.order-info .left{
    min-width: 60%;
}
.eur{
    padding: 0%;
    margin: 0%;
    text-align: right;
    font-size: 10pt;
}

.order-table{
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: lightgray;
    border-radius: 20px;
}

.shipping-info-alt{
    margin-top: 10px;
    border-bottom: 1px solid lightgray;
}

.shipping-info-alt .info-content{
    margin-top: 5px;
    margin-bottom: 15px;
}

.shipping-info-alt .info-container{
    padding-top: 10px;
}

.info-text{
    color:#292828;
}

.border{
    margin: 0% 2%; 
    border-bottom: 1px solid lightgray;
    padding: 0%;
}

.address{
    font-size: 14pt;
    padding: 10px 25px 10px 25px;
}

span{
    font-weight: bold;
}

.order-table-alt div{
    padding: 3px 0px;
}

.order-table-alt .table-item{
    border-bottom: lightgray 1px solid;
}
.order-table-alt .name{
    font-weight: bold;
}
.order-table-alt .line-items{
    font-size: 14pt;
    padding: 10px 25px 10px 25px;
    display: flex;
    border-bottom: 1px solid lightgray;
    background-color: #f5f5f5;
}

.order-table-alt .product{
    padding: 5px 25px 5px 25px;
    display: flex;
    border-bottom: 1px solid lightgray;
    background-color: #f1f1f1;
}



@media screen and (min-width: 768px) {
    
     .container{ 
        display: flex;
        flex-direction: row;
        width: 1200px;
    }
     aside{
        max-width: 300px;
        display: flex;
        flex-direction: column;
        background-color:white;
        height: 100vh;
    }

    .info .bars{
        display: none;
    }

    .info .head{
        margin-left: 50%;
    }

    .shipping-info-alt{
        display: none;
    }

    .order-table-alt{
        display: none;
    }

}

@media screen and (min-width: 500px){

    .order-table-alt{
        display: none;
    }
    .order-table{
        display: block;
    }
    .shipping-info-alt{
        display: none;
    }
    .shipping-info{
        display: block;
    }
    .shipping-info{
        min-height: 170px;
        border-bottom: 1px solid lightgray;
    }

    .shipping-info .left p{
        padding: 5px 0px 0px 150px;
    }
    
    .shipping-info .right p{
        padding: 5px 0px 0px 10px;
    }
    .shipping-info div{
        display: inline-block;
    }
    
    .shipping-info .left{
        text-align: right;
    }

    
.shipping-info .order-id{
    font-size: 14pt;
}

.shipping-info .left-right{
    padding: 10px 3% 10px 3%;
}
.border{
    margin: 0% 2%; 
    border-bottom: 1px solid lightgray;
    padding: 0%;
}

.shipping-info .address{
    font-size: 14pt;
    padding: 10px 25px 10px 25px;
}
.customer-info{
    display: none;
    flex-direction: row;
    border-bottom: 1px solid lightgray;
}
.customer-info .address{
    font-size: 14pt;
    padding: 10px 25px 10px 25px;
}

.customer-info .inner-container{
   display: flex;
   padding-bottom: 25px;
}

.customer-info .right{
    flex-grow: 1;
}
.customer-info .right i{
    font-size: 75px;
    color: white;
}

.customer-info .right .picture{
    width: 70px;
    padding: 50px;
    background-color: #c1cfd3;
}

.customer-info .left{
    flex-grow: 1;
}
.customer-info .left .header{
    font-size: 12pt;
    padding: 15px 25px 5px 25px;
}

.customer-info .right .header{
    font-size: 12pt;
    padding: 15px 25px 15px 25px;
}

.customer-info .left-left{
    padding: 0px 0px 15px 75px;
    text-align: right;
}

.customer-info .left p{
    padding: 10px 5px 0px 0px;
    
}

.customer-info div div{
    display: inline-block;
}

.order-table{
    height: 100%;
    background-color: #fafafa;
    
}

.order-table .line-items{
    font-size: 14pt;
    padding: 10px 25px 10px 25px;
    display: flex;
    
}

.order-table table{
    width: 100%;
    background-color: white;;
    border-collapse: collapse;  
    margin-bottom: 15px;
}

.line-items-table{
    padding: 0px 15px 0px 15px;
}

.order-table table td:first-child, th:first-child{
    text-align: left;
}


.order-table table td p:first-child{
    font-weight: bold;
}

.order-table table p{
    padding: 0px 0px;
}

table td, th{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    text-align: right;
    padding: 3px 0px;
}

table th{
    background-color: #f1f1f1;
}
}
